/* Reset de HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hacer que el body sea un contenedor flex en columna */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima del viewport */
    background-color: #eceae3;
}

/* Asegura que el contenido principal se expanda */
main {
    flex: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
}

/* Estilos para el header */
.header {
    display: flex;
    justify-content: center; /* Centra todo el contenido */
    align-items: center;
    padding: 10px;
    background-color: #FBE7E4;
    color: #2d2d2d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Botones en la parte superior izquierda */
.buttons-left {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    gap: 10px;
}

/* Contenedor para el carrito en la parte superior derecha */
.button-right {
    position: absolute;
    top: 40px;
    right: 50px;
}

/* Estilo para el carrito */
.carrito {
    height: 65px;
    opacity: 80%;
    cursor: pointer;
}

/* Estilos para el logo en el header */
.logo_header {
    height: auto;
    max-height: 150px;
    width: auto;
    margin-bottom: 20px;
}

/* Contenedor de navegación */
.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Estilos para la lista de navegación */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

/* Estilos para los enlaces */
.header a,
.footer a {
    color: #2d2d2d;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Efectos hover y focus para enlaces */
.header a:hover,
.footer a:hover,
.header a:focus,
.footer a:focus {
    color: #eb1313;
    outline: none;
}

/* Estilos para el footer */
.footer {
    background-color: #FBE7E4;
    color: #2d2d2d;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* Contenedor del contenido del footer */
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido dentro de cada sección */
}

/* Alinear las imágenes de redes sociales y el logo */
.footer-left img, .footer-right img, .logo_footer {
    margin: 0 10px; /* Espaciado entre los iconos y el logo */
}

/* Estilo del texto de derechos reservados */
.footer-right p {
    margin: 0;
    font-size: 14px; /* Tamaño de fuente */
}

/* Tamaño de los iconos sociales */
.footer-left img {
    width: 30px;
    height: auto;
}

/* Estilo para el logo del footer */
.logo_footer {
    width: 150px;
    height: auto;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-left img {
        width: 25px;
    }

    .footer-right p {
        font-size: 12px;
    }

    .logo_footer {
        width: 100px;
    }

    .footer-left,
    .footer-right {
        flex-basis: 100%; /* Ocupa el 100% del ancho */
        text-align: center; /* Alinea todo al centro */
    }

    /* Estilo para el carrito y el botón en la parte superior derecha */
    .button-right {
        top: 20px;
        right: 15px;
    }

    .carrito {
        height: 50px;
        padding: 6px 12px;
    }

    .header {
        flex-direction: column;
        padding: 5px;
    }

    .center-content {
        text-align: center;
    }

    .buttons-left {
        top: 20px;
        left: 15px;
        gap: 8px;
    }
}

/* Media query para pantallas grandes */
@media (min-width: 769px) {
    .footer-content {
        flex-wrap: nowrap; /* Previene que los elementos del footer se acomoden en una nueva línea */
    }
}

/* Estilo para los botones cuadrados */
.btn-square {
    width: 40px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para el logo */
.logo_header {
    height: auto;
    max-height: 150px;
    width: auto;
    margin-bottom: 20px;
    margin-left: 100px;
}

/* Estilo para los enlaces del menú */
.header a {
    color: #2d2d2d;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Efectos hover para enlaces */
.header a:hover {
    color: #eb1313;
}

/* Contenedor para el botón en la parte superior derecha */
.button-right {
    position: absolute;
    top: 40px;
    right: 50px;
}

/* Estilo para el botón en la parte superior derecha */
.btn-right {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 65px;
    opacity: 80%;
}

.carrito {
    height: 65px;
    opacity: 80%;
}

/* Estilos de imagen */
.insta{
    height: 40px;
}
